<div id="505">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    
    <center>
        <h1 data-aos="flip-left">UH, OH... 505!</h1>
    </center>
</div>