
<script src="handlebars/dist/handlebars.min.js"></script>
<script src="handlebars-intl/dist/handlebars-intl.min.js"></script>
<script src="handlebars-intl/dist/locale-data/fr.js"></script>

<h1> The Date and Time is : {{{ date }}}</h1>
